<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My custom Bulma website</title>
	<link rel="stylesheet" href="../css/mystyles.css">
</head>

<body>
	<div class="columns is-vcentered is-desktop ">
		<div class="column block has-text-centered has-background-info ">
			<h1 class="title is-size-1 has-text-white">
				BIENVENUE
			</h1>
		</div>
	</div>
	<div class="columns is-vcentered is-desktop ">
		<div class="column has-text-centered has-background-success is-uppercase has-text-white">
			<p>Pour commencer et savoir</br> si vous êtes éligibles au plaisir</p>
		</div>
	</div>
	<div class="columns is-vcentered is-desktop ">
		<div class="column has-text-centered has-background-warning is-uppercase has-text-white">
			<p>merci de nous indiquer</br>votre numéro de département</p>
		</div>
	</div>
	<form action="http://localhost:3000" method="post" >
		<div class="columns is-vcentered is-desktop ">
			<div class="column block field is-2 is-offset-5">
				<div class="control">
					<input class="input is-rounded" name="departement" id="dep" type="tel" placeholder="Departement">
				</div>
			</div>
		</div>
		<div class="columns is-vcentered is-desktop ">
			<div class="column block buttons has-text-centered has-text-white">
				<button class="button is-dark" type="submit">VALIDER</button>
			</div>
		</div>
	</form>
</body>

</html>