html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Plaisir.re
		link(rel="stylesheet", href="/mystyles.css")
	body(class='has-background-black' style="height: 100%")
		div(class='columns is-desktop' style='padding-top: 100px')
			div(class='column block has-text-centered')
				img(src="/sad-face.svg", height='200px', width='200px')
		div(class='columns is-desktop')
			div(class='column has-text-centered has-text-primary is-uppercase has-text-white')
				p Désolé vous ne faites pas parti 
					br/ de la zone
					br/ défini par nos critère